# Project exclude paths
/.gradle/
/blog-auth/build/
/blog-auth/build/classes/main/
/blog-auth/build/classes/test/
/blog-blog/build/
/blog-blog/build/classes/main/
/blog-blog/build/classes/test/
/blog-comment/build/
/blog-comment/build/classes/main/
/blog-comment/build/classes/test/
/blog-prototype/build/
/blog-prototype/build/classes/main/
/blog-prototype/build/classes/test/
/blog-search/build/
/blog-search/build/classes/main/
/blog-search/build/classes/test/
/blog-user/build/
/blog-user/build/classes/main/
/blog-user/build/classes/test/
/blog-vote/build/
/blog-vote/build/classes/main/
/blog-vote/build/classes/test/
/bootstrap-in-action/build/
/bootstrap-in-action/build/classes/main/
/bootstrap-in-action/build/classes/test/
/new-star-blog/build/
/new-star-blog/build/classes/main/
/new-star-blog/build/classes/test/