body {
  background: url(https://cdn.jsdelivr.net/gh/swimminghao/picture@main/img/2022/03/01/20220301112534.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
}
// 文章主体透明度
.main-inner{
  opacity: 0.9;
}


//// 放置头像等的边栏透明度
//.sidebar{
//  opacity: 0.7;
//}
//// 标题等头部透明度
//.header-inner{
//  opacity: 0.7;
//}
//// 底部透明度
//.footer-inner{
//  color:black;
//  opacity: 0.7;
//}